doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/task_card.css")
    link(rel="stylejs", href="/javascripts/main.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='https://css.gg/calendar.css' rel='stylesheet')
    link(rel="stylesheet" href="/icons/font-awesome/css/font-awesome.css")
    title Tasks

    body
        div(class="split left")
            .left__title
                h1.board__title Task Boards
            br
            li.side__board
                a.board__nav(href="/", class=(path === '/' ? 'active' : '')) All (#{all_count})
            block content
            if results.boards.length > 0
                each board in results.boards 
                    li.side__board 
                        a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name} (#{board.count})
             
            button(class="btn btn__board")
                a.to__tc(href="board/create") Add Board


            
        div(class="split right")           
            
            section(class="cards")
                if results.task_boards.length > 0
                    each board in results.task_boards
                        if board.tasks !== null && board.tasks.length > 0
                            each task in board.tasks
                                article(class="card card--1")
                                    div(class="card__img")
                                                
                                        div(class="card__info-hover")
                                            svg(class="task__done" viewBox="0 0 24 24")
                                            path(fill="#000000" d="")
                                        div(class="task__delete")
                                            span.icon__btn(class="material-icons md24") delete
                                        //- span.calen(class="material-icons md24") calendar_month
                                        h2.img__date #{task.day}
                                    a(href="#" class="card__link")                                   
                                        div(class="card__img--hover")
                                    div(class="card__info")
                                        span(class="card__title") #{task.title}
                                        h3(class="card__description") #{task.description}
                                        p(class="card__board") #{board.name}
                                        span(class="task__due") #{task.weekday}
                         
                            
                else 
                    h2 You Do Not Have Any Tasks!
            section(class="top__items") 
                span.chev1(class="material-icons md64") arrow_back_ios 
                h2 All Tasks
                span.chev2(class="material-icons md64") arrow_forward_ios
                //- button.btn
                //-     a.to__tc(href="board/:board/task/create") Add Task
