doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/task_card.css")
    link(rel="stylejs", href="/javascripts/main.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='https://css.gg/calendar.css' rel='stylesheet')
    link(rel="stylesheet" href="/icons/font-awesome/css/font-awesome.css")
    title #{title}

    body
        div(class="split left")
            .left__title
                h1.board__title My Boards
            br

            if totalTasks > 0
                li.side__board
                    a.board__nav(href="/", class=(path === '/' ? 'active' : '')) All (#{totalTasks})
                each board in results.boards.myBoards 
                    if board.task_count > 0
                        li.side__board 
                            a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name} (#{board.task_count})
                    else 
                        li.side__board 
                            a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name} 
            else
                li.side__board 
                    a.board__nav(href="/", class=(path === '/' ? 'active' : '')) All 
                each board in results.boards.myBoards 
                    li.side__board 
                        a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name}
                    

            form.logout(action="/my_board/create", method="GET") 
                input(type="hidden", name="_csrf", value= csrfToken)
                button(type="submit",class="btn btn__board") Add Board


            .left__title
                h1.board__title Shared Boards
            br

            if results.boards.sharedBoards.length > 0
                each board in results.boards.sharedBoards
                    if board.task_count > 0 
                        li.side__board 
                            a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name} (#{board.task_count})
                    else 
                        li.side__board 
                            a.board__nav(href="/board/"+board._id, class=(path === '/board/'+board._id ? 'active' : '')) #{board.name}

            form.logout(action="/shared_board/create", method="GET") 
                input(type="hidden", name="_csrf", value= csrfToken)
                button(type="submit",class="btn btn__board") Add S Board
            form.logout(action="/logout", method="POST") 
                input(type="hidden", name="_csrf", value= csrfToken)
                button(type="submit",class="btn btn__board") Sign out

            
        div(class="split right")
            
            section(class="cards")
                if boardType == 'myBoard'    
                    if currentBoard.tasks != null && currentBoard.tasks.length > 0
                        each task in currentBoard.tasks
                            if task.status == "complete"
                                - var card = 'card__done'
                                - var card__info = 'card__info__done'
                            else 
                                - var card = 'card'
                                - var card__info = 'card__info' 
                            article(class= card + " card--1")
                                div(class="card__img")
                                        
                                    div(class="task__icons")
                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/task_status", method="POST")
                                            input(type="hidden", name="_csrf", value= csrfToken)
                                            button.icon__btn(type="submit")
                                                span.task__done(class="material-icons md24") task
                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/edit", method="GET")
                                            button.icon__btn(type="submit")
                                                span.task__edit(class="material-icons md24") edit
                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/delete", method="POST")
                                            input(type="hidden", name="_csrf", value= csrfToken)
                                            button.icon__btn(type="submit")
                                                span.task__delete(class="material-icons md24") delete

                                    h2.img__date #{task.day}
                                a(href="#" class="card__link")                                   
                                    div(class="card__img--hover")
                                div(class= card__info)
                                    span(class="card__title") #{task.title}
                                    h3(class="card__description") #{task.description}
                                    p(class="card__board") #{currentBoard.name}
                                    span(class="task__due") #{task.weekday}
                    else 
                        h2 This board has no tasks!

                if boardType == 'sharedBoard'    
                    if currentBoard.tasks != null && currentBoard.tasks.length > 0
                        each task in currentBoard.tasks
                            if task.status == "complete"
                                - var card = 'card__done'
                                - var card__info = 'shared__card__info__done'
                            else 
                                - var card = 'card'
                                - var card__info = 'shared__card__info' 
                            article(class= card + " card--1")
                                div(class="card__img")
                                        
                                    div(class="task__icons")
                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/task_status", method="POST")
                                            input(type="hidden", name="_csrf", value= csrfToken)
                                            button.icon__btn(type="submit")
                                                span.task__done(class="material-icons md24") task

                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/edit", method="GET")
                                            button.icon__btn(type="submit")
                                                span.task__edit(class="material-icons md24") edit

                                        form(action="/board/"+currentBoard._id+"/"+task._id+"/delete", method="POST")
                                            input(type="hidden", name="_csrf", value= csrfToken)
                                            button.icon__btn(type="submit")
                                                span.task__delete(class="material-icons md24") delete

                                    h2.img__date #{task.day}
                                a(href="#" class="card__link")                                   
                                    div(class="card__img--hover")
                                div(class = card__info)
                                    span(class="card__title") #{task.title}
                                    h3(class="card__description") #{task.description}
                                    p(class="card__board") #{currentBoard.name}
                                    h3.card__assign #{task.assignedTo}
                                    span(class="task__due") #{task.weekday}
                    else 
                        h2 This board has no tasks!
            section(class="top__items") 
                span.chev1(class="material-icons md64") arrow_back_ios 
                h2.t #{title}
                span.chev2(class="material-icons md64") arrow_forward_ios
                if boardType == 'myBoard'
                    form.logout(action='/my_board/'+ currentBoard._id+'/task/create', method="GET") 
                        input(type="hidden", name="_csrf", value= csrfToken)
                        button(type="submit",class="btn btn__add__task") Add Task
                else if boardType == 'sharedBoard'
                    form.logout(action='/shared_board/'+ currentBoard._id+'/task/create', method="GET") 
                        input(type="hidden", name="_csrf", value= csrfToken)
                        button(type="submit",class="btn btn__add__task") Add Task
